profiles {
	standard {
        
		process {
         		withName: adaptorRemoval {
          			container = "quay.io/biocontainers/cutadapt:1.18--py36h14c3975_1"
         		}
		}
		process {
         		withName: referenceGenomeIndexing{
          			container = "quay.io/biocontainers/bwa:0.7.17--h84994c4_5"
         		}
		}
		process {
         		withName: genomeMapping{
          			container = "quay.io/biocontainers/bwa:0.7.17--h84994c4_5"
         		}
		}

		process {
				withName: bamSorting {
					container = "quay.io/biocontainers/sambamba:0.6.8--h682856c_1"
				}
		}

		process {
				withName: samToBam {
					container = "quay.io/biocontainers/sambamba:0.6.8--h682856c_1"
				}
		}
		
		process {
         		withName: removeDuplicates{
          			container = "quay.io/biocontainers/picard:2.18.25--0"
         		}
		}
		process {
         		withName: baseQualityRecalibration{
          			container = "broadinstitute/gatk3:3.6-0"
         		}
		}	

		process {
				withName: fastaIndex {
					container = "quay.io/broadinstitute/samtools:1.3"
				}
		}
		process {
				withName: noDuplicatesBAMindex {
					container = "quay.io/broadinstitute/samtools:1.3"
				}
		}
		process {
         		withName: referenceIndexDictionary{
          			container = "quay.io/biocontainers/picard:2.18.25--0"
         		}
		}
		process {
         		withName: printReads{
          			container = "broadinstitute/gatk3:3.6-0"
         		}
		}
		process {
         		withName: variantCalling {
          			container = "broadinstitute/gatk3:3.6-0"
         		}
		}
		process {
         		withName: qualityOfTheFastq{
          			container = "fastqc:0.11.8"
         		}
		}
  	}
}

timeline {
	enabled = true
	file = "./results/timeline.html"
}
		
report {
	enabled = true
	file = "./results/report.html"
}

trace {
	enabled = true
	file = "./results/trace.tsv"
}

dag {
	enabled = true
	file = "./results/DAG.dot"
}

docker {
   enabled = true
}